header, section {
	display: inline-block;
}

.left {
	width: 35%;
	display: inline-block;
	float:left;
}

.right {
	width: 60%;
	display: inline-block;
	float:right;
}

#headshot {
	display: block;
	text-align: center;
	margin: 50px auto 0;
	border: 2px solid #E13A63;
}

.experience {
	display: inline-block;
	clear: both;
	margin-top: 30px;
	text-align: center;
}

header, .experience {
	border: 2px solid #E13A63;
	padding: 10px;
}
