.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
  font-size: 1em;
}

.tile img	{
	display: block;
	margin: 0 auto;
  width: 100%;
}

.git {
  width:80%;
  color: red;
  text-align: center;
  font-size:0.9em;

}



@media screen and (max-width:870px) {
  .resp {
    clear: both;
    display: block;
    width: 100%;
  	height:100%;
  	padding: 0 3%;
  	margin: 0 auto;
  	box-sizing: border-box;
  }
  .headshot1 {
    display: block;
    text-align: center;
    font-style: normal;
  }
}

@media screen and (min-width:870px) and (max-width:1000px) {
  .resp {
    clear: both;
    display: inline-block;
    width: 100%;
  	height:100%;
  	padding: 0 3%;
  	margin: 0 auto;
  	box-sizing: border-box;
  }
  .headshot1 {
    display: inline-block;
    width:60%;
    font-style: normal;
    float: right;
    padding: 2%;
  }
  .headshot2 {
    float: left;
    width: 30%;
    align:center;
    padding-top:10%;
    padding-left: 3%;
  }
}
